@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

// Universal font and scrolling styles for the whole site
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

// Styles for header elements
.nav-cont{
    // Flex property on header for positioning; header margins
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 3%;
    margin-left: 3%;

    // Flex property on parent of navigation bar and logo container for positioning
    #main-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 95%;
        
        // Logo styles 
        #logo{
            margin-left: 3%;
            a{
                font-size: large;
                font-weight: bolder;
                color: rgb(31, 31, 31);
                text-decoration: none;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        
        // Styles for navigation links
        ul{
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            column-gap: 1rem;
            row-gap: 0.75rem;

            a{
                font-size: medium;
                text-decoration: none;
                color: rgb(31, 31, 31);
    
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        
    }
}

// Styles for hero section background image on home page
.sect-cont-1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/hero.jpg');
    background-repeat: no-repeat;
    margin-left: 3%;
    margin-right: 3%;
    background-size: cover;
    border-radius: 0.25em;

    // media queries for adjusting hero section margins for various screen sizes
    @media screen and (min-width: 1024px) {
        margin-left: 10%;
        margin-right: 10%;
    }
    @media screen and (min-width: 1440px) {
        margin-left: 20%;
        margin-right: 20%;
    }
    @media screen and (min-width: 1700px) {
        margin-left: 25%;
        margin-right: 25%;
    }
}

// Styles for inner content of hero section on home page
#sect-1-inner{
    margin-top: 35px;
    margin-left: 10px;
    height: 449px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    // Styles for hero text on home page
    .hero-txt{
        
        // Font styles for name in hero section
        #hero-intro{
            color:rgb(255, 255, 255);
            font-size:1.2em;
            font-weight:500;
            z-index: 1;
        }
        
        // Font styles for tagline in hero section
        h2{
            color: white;
            font-size: 1.75em;
            font-weight: 900;
            z-index: 1;
        }

        // Media query for adjusting hero font sizes based on screen size
        @media screen and (min-width: 768px) {
            #hero-intro{
                font-size: 1.45em;
            }
            h2{
                font-size: 2em;
            }
        }
    }
    
    // Styles for call to action buttons in hero section on home page
    .cta-btn{
        text-decoration: none;
        font-size: medium;
        font-weight: 400;
        padding-top: 11px;

        text-align: center;

        color: rgb(255, 255, 255);
        text-align: center;
        background: rgb(31, 31, 31);
        border-radius: 5px;
        height: 42px;
        width: 144px;

        &:hover{
            color: rgb(31, 31, 31);
            background: rgb(255, 255, 255);
        }

    }

    // Margin between cta buttons
    #btn-2{
        margin-top: 20px;
    }
}

// Styles for 'My Projects' section on home page
// Stack project videos in a column using flexbox
.sect-cont-2{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;

    // Media queries to adjust margins of 'My Projects' section based on screen size
    @media screen and (min-width: 1024px) {
        margin-left: 10%;
        margin-right: 10%;
    }

    @media screen and (min-width: 1440px) {
        margin-left: 20%;
        margin-right: 20%;
    }
    @media screen and (min-width: 1700px) {
        margin-left: 25%;
        margin-right: 25%;
    }
    
    
    // styles for videos inside the 'My Projects' section
    #demo-vid{
        margin-bottom: 20px;
        border-radius: 0.25em;
        
    }

    

}

// Style for non-call-to-action buttons (secondary buttons)
.scndry-btn{
    border-radius: 5px;
    background-color: #0583F2;
    text-decoration: none;
    color:white;
    font-size: medium;
    height: 42px;
    width: 144px;
    text-align: center;
    padding-top: 12px;
    text-decoration: none;
    margin-top: 20px;


}

// Style for section heading banners on Home Page (i.e. My Projects, Featured App)
.sect-card{
    background-image: url('../images/projects.jpg');
    height: 100px;
    color: white;
    background-size: cover;
    width: 100%;
    background-position-y: -50px;
    text-align: center;
    font-weight: 600;
    font-size: 1.75em;
    padding-top: 33px;
    margin-bottom: 20px;
    border-radius: 0.25em;
}

// Styles for 'Featured App' section of home page
// Stack this class's children in a column using flexbox
.sect-cont-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 30px;
    margin-bottom: 40px;

    // Media queries for adjusting margin of Featured App section of Home Page for different screen sizes
    @media screen and (min-width: 1024px) {
        margin-left: 10%;
        margin-right: 10%;
    }
    @media screen and (min-width: 1440px) {
        margin-left: 20%;
        margin-right: 20%;
    }
    @media screen and (min-width: 1700px) {
        margin-left: 25%;
        margin-right: 25%;
        font-size: 1em;
    }

    // Styles for featured app description
    p{
        font-size: 0.9em;
        margin-bottom: 20px;
        text-align: left;
        margin-bottom: 20px;
        padding: 0px 20px 0px 20px;

        

    }

}

// Introduce flexbox and flex-wrap at large screen sizes for cards on Work Page
.cards-cont{
    @media screen and (min-width: 1024px) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
        .work-card{
            width: 600px;
            font-size: 1em;
        }

    }
}


// Styles for 'Work' cards on Work Page.
.work-card{
    margin-bottom: 40px;
    margin-top: 30px;
    background-color: #e8f0ef;
    border-radius: 0.25rem;
    color:rgb(31, 31, 31);
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 0 0 10px 10px rgba(22, 22, 22, 0.096);


    h2{
        margin-left: 3%;
        font-size: 1.5em;
        span{
            color: #2caeba;
        }
    }
    p{
        padding: 20px;
        padding-left: 0px;
        margin-left: 3%;
        line-height: 24px;
        padding-top: 0px;
        text-align: left;
        font-size: 0.9em;
    }

    ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 10px;
        justify-content: flex-start;
        align-items: center;
        margin-left: 3%;
        padding-left: 0px;
    }
    li{
        background-color: rgb(221, 221, 221);
        border-radius: 0.25rem;
        width: fit-content;
        block-size: fit-content;
        text-align: center;
        padding: 5px;
        padding-right: 10px;
        padding-left: 10px;
        color: #102a42;
        font-size: 0.9em;
        
    }

    .work-btn{
        text-decoration: none;

        img{
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 3%;
        }

    }

    video{
        border-radius: 0.25rem;
    }

}

// Style for the Page Intro that contains title and page description on Work, Interests, and About page.
.page-intro{
    text-align: center;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 40px;
    h1{
        text-decoration: underline;
        text-decoration-color: #2caeba;
    }
    p{
        font-size: 0.9em;
    }
    
}

// Styles for cards on the Interests page
.interest-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 30px;
    img{
        width: 95%;
        border-radius: 0.25em;
        margin-bottom: 10px;
    }

    p{
        padding: 0px 10px 0px 10px;
        font-size: 0.9em;
    }

    // Media queries for adjusting card margins for larger screen sizes
    @media screen and (min-width: 768px) {
        margin-left: 20%;
        margin-right: 20%;

    }
    @media screen and (min-width: 1150px) {
        margin-left: 30%;
        margin-right: 30%;

    }
    @media screen and (min-width: 1700px) {
        margin-left: 35%;
        margin-right: 35%;
        font-size: 1em;

    }

    
}

// Styles for table on About page
.skill-table-cont{
    margin-top: 20px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
    h2{
        border-bottom: 2px solid #2caeba2d;
        width: fit-content;
    }
    #Skill-Table{
        box-shadow: 0 0 10px 10px rgba(22, 22, 22, 0.096);
        width: 100%;
        margin: 20px 0;
        font-size: 0.9em;
        th{
            text-align: center;
            border-bottom: 2px solid rgba(0, 0, 0, 0.103);
            border-width: thin;
            font-size: 1rem;
            color: white;
            padding: 10px 0px 10px 0px;
        }
        thead{
            background-color: #2caeba;
        }
        td{
            text-align: center;
            border-bottom: 2px solid rgb(240, 240, 240);
            border-width: thin;
            padding: 10px 0px 10px 0px;
        }

        tr:nth-child(2n){
            background-color: rgb(245, 245, 245);
        }
        
        
    }

    #Skill-Table, #Skill-Table th, #Skill-Table td{
    
        border-collapse: collapse;
    }

    .skill-table-wrap{
        width: 100%; 
    }

    // Adjust table width depending on screen size
    @media screen and (min-width: 1024px) {
        width: 80%;
    }

    @media screen and (min-width: 1440px) {
        width: 60%;
    }
    @media screen and (min-width: 1700px) {
        width: 50%;
    }

    
}

// Styles for description on About Page
#about-p{
    font-size: 0.9em;
    margin: 0 3% 0 3%;
    padding: 0 10px 0 10px;

    // Adjust description's margins based on screen size
    @media screen and (min-width: 1024px) {
        margin-left: 10%;
        margin-right: 10%;
    }

    @media screen and (min-width: 1440px) {
        margin-left: 20%;
        margin-right: 20%;
    }
    @media screen and (min-width: 1700px) {
        margin-left: 25%;
        margin-right: 25%;
        font-size: 1em;
    }
}

// Styles for Contact section on About Page.
.contact-cont{
    margin: 20px 3% 40px 3%;
    h2{
        border-bottom: 2px solid #2caeba2d;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    // Styles for row containing contact icons
    ul{
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        width: 100%;
        padding-left: 0px;
    }

    // Adjust Contact section's margins based on screen size
    @media screen and (min-width: 1024px) {
        margin-left: 10%;
        margin-right: 10%;
    }

    @media screen and (min-width: 1440px) {
        margin-left: 20%;
        margin-right: 20%;
    }
    @media screen and (min-width: 1700px) {
        margin-left: 25%;
        margin-right: 25%;
    }
}

// Styles for image on the About Page.
#about-img{
    width: 100%;
    display: flex;
    justify-content: center;
    
    // Adjust image size depending on screen sized
    @media screen and (min-width: 1024px) {
        img{
            width: 60%;
        }
    }
    @media screen and (min-width: 1700px) {
        img{
            width: 40%; 
        }
    }   
}

// Styling for additional space at the bottom of the page
#footer-space{
    height: 40px;
}
